html, body, h1, h2, h3, h4, a{
  margin: 0;padding: 0;font-weight: normal;
}

body{
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  color: #333;
  min-height: 100vh;
}

::selection{
  background: #ad51bd;
  color: white;
}

.headerPlate{
  background: #9c27b0;
  width: 100vw;
  height: 60vh;
  position: absolute;
  z-index: -1;
}

.headerPlate-silhouette{
  position: absolute; top: 0; right: 0;
  height: 100vh;
}

.logo{
  font-family: 'Roboto';
  color: white;
  line-height: 1;
  font-weight: 300;
  position: absolute;
  top: 20px;
  left: 40px;
}

.logo-title{ font-size: 3rem; }

.logo-subtitle{
  text-transform: uppercase;
  letter-spacing: 0.26rem;
}

.logo-pantip{ font-weight: 700; }

.hero{
  color: white;
}
