<div class="info">
  <img class="avatar" src="" />
  <div class="author"></div>
  <div class="time sSubtitle"><time class="timeago"></div>
  <div class="numContainer sSubtitle">#<span class="num"></span></div>
</div>
<div class="content"></div>
<div class="reactions">
  <div class="vote">
    <i class="ic">add_box</i><span class="voteCount"></span>
  </div>
  <div class="emotions">
    <div class="emotionIcons"></div>
    <div class="emotionCount"></div>
  </div>
  <ul class="emotionsInfo sElevation2">
    <li>
      <img src="asset/img/emotions/like.png" /><span>ถูกใจ <span class="likeCount"></span></span>
    </li>
    <li>
      <img src="asset/img/emotions/laugh.png" /><span>ขำกลิ้ง <span class="laughCount"></span></span>
    </li>
    <li>
      <img src="asset/img/emotions/love.png" /><span>หลงรัก <span class="loveCount"></span></span>
    </li>
    <li>
      <img src="asset/img/emotions/impress.png" /><span>ซึ้ง <span class="impressCount"></span></span>
    </li>
    <li>
      <img src="asset/img/emotions/scary.png" /><span>สยอง <span class="scaryCount"></span></span>
    </li>
    <li>
      <img src="asset/img/emotions/surprised.png" /><span>ทึ่ง <span class="surprisedCount"></span></span>
    </li>
  </ul>
</div>
