// ===========================================================================
// Sass for belly, topicView, commentsView, etc.
// ===========================================================================

.belly{
  @include flex-column-stretch;
  @include base-back-bg;
  flex: 7;
  z-index: 5;
}

.bellyBar{
  @include flex-row-center;
  @include elevation(1);
  @include theme-primary-bg;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  padding: 0 15px;
  min-height: 64px;

  &-title{
    width: 0; //fixes some weird flexbox ellipsis thing
    flex: 1;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-controls{
    @include flex-row-center;
  }

  &-refresh{
    position: relative;
  }

  &-refreshBadge{
    @include theme-accent-bg;
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-radius: 50%;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 4px;
  }
}

// ===========================================================================

.rightPane{
  @include transition(.5s);
  height: auto;
  flex: 1;
  overflow-y: auto;
  -webkit-clip-path: circle(110% at 50% 55px);
  position: relative;

  &--wrapUp{ -webkit-clip-path: circle(15px at 50% 55px); }
}

.rightPane--wrapUp .topic{
  opacity: 0;
}

.topicContainer{
  @include elevation(1);
  @include base-fore-bg;
  width: 100%;
  max-width: 560px;
  box-sizing: border-box;
  margin: 20px auto;
  border-radius: 2px;
}

.topic{
  @include transition;
  opacity: 1;

  &-title{
    box-sizing: border-box;
    padding: 15px;
    padding-bottom: 0;
    font-family: "TH Sarabun New";
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    word-wrap: break-word;
  }

  &-content{
    @include theme-font;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    line-height: 1.5;
    word-wrap: break-word;
  }

  &-info{
    @include border(bottom);
    padding: 15px;
    position: relative;
  }

  &-avatar{
    @include circle(38px);
    @include theme-primary-bg;
    margin-right: 10px;
    float: left;
  }

  &-author{
    border-radius: 2px;
    display: inline-block;

    &--op{
      @include theme-accent-bg;
      padding: 0 5px;
    }
  }

  &-time{ @include subtitle; }

  &-commentNumber{
    @include subtitle;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &-tag{
    @include subtitle;
    padding: 15px 0 0 15px;
  }

  &-tagIcon{
    font-size: 14px;
    margin-bottom: 2px;
  }

  &-loadMore{
    @include button;
    @include elevation(0);
    margin: 0 auto;

    &:hover{ @include elevation(2); }
  }
}

.comment{
  @include elevation(1);
  @include base-fore-bg;
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0;
  border-radius: 2px;

  &--sub{
    @include base-back-bg;
    margin: 0 0 10px 0;
    box-shadow: none;
  }

  &-subContainer{
    @include flex-column-stretch;
    padding: 10px;
  }
}

// ===========================================================================
// Content styling
// ===========================================================================

.rightPane{
  u{
    text-decoration: none;
    border-bottom: 1px #333 solid;
  }

  .spoil-style{
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.07);
  }

  .img-in-post{
    @include clickable;
    max-width: 100%;
    margin: 10px 0;
    opacity: 1;
    transition: opacity .2s ease .2s;
  }

  .img-in-post.inLightBox{
    opacity: 0;
    transition: opacity .01s ease-in-out .1s;
  }
}

// ===========================================================================

.commentsView{
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}

.commentsInfo{
  @include flex-row-center;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;

  &:before{
    @include border(top);
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
  }
}

.commentsCount{
  @include base-back-bg;
  margin-left: 10px;
  padding: 0 10px;
  z-index: 2;

  &-icon{
    font-size: 14px;
    margin-bottom: 1px;
  }
}

.commentsSort{
  @include base-back-bg;
  margin-right: 10px;
  padding: 0 10px;
  z-index: 2;
}
