// ===========================================================================
// Sass for lightBox
// ===========================================================================

.lightBox{
  @include clickable;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  position: absolute; top: 100vh; right: 0;
  z-index: 20;
  opacity: 0;
  transition: background-color .2s ease-in-out 0s,
              top .01s ease-in-out .2s,
              opacity .2s ease-in-out .01s;

  &--active{
    top: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
    transition: background-color .2s ease-in-out .1s,
                top .01s ease-in-out 0s,
                opacity .2s ease-in-out 0s;
  }

  &-img{
    position: absolute;
    top: 0; left: 0;
    transform: translate(0, 0);
    width: auto;
    height: auto;

    &--active{
      @include transition;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
