// ===========================================================================
// Sass for sidebar, leftPane, searchPane
// ===========================================================================

.sidebar{
  @include flex-column-stretch;
  @include elevation(2);
  @include base-back-bg;
  flex: 3;
  z-index: 10;
  position: relative;
}

.sidebarHead{
  @include flex-row-center;
  @include base-fore-bg;
  @include border(bottom);
  width: 100%;
  height: 64px;
}

.logo{
  flex: 1;
  height: 64px;
  position: relative;

  &-colored{
    @include transition;
    position: absolute; top: 0; left: 0;
    opacity: 0;
  }
}
.sidebar:hover .logo-colored{ opacity: 1; }

.sidebarToolbar{
  @include flex-row-center;
  margin-right: 15px;
}

.forumSelector{
  @include clickable;
  min-width: 80px;
  text-align: right;
}

// ===========================================================================

.leftPane{
  @include transition(.5s);
  @include base-fore-bg;
  flex: 1;
  width: 100%;
  overflow-y: auto;
  -webkit-clip-path: circle(150% at 50% 55px);
  position: relative; top: 0; left: 0;

  &--wrapUp{ -webkit-clip-path: circle(15px at 50% 55px); }
}

.leftPane--wrapUp .topicList, .leftPane--wrapUp .bestTopicList{
  opacity: 0;
}

.topicHeader{
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 0 10px;
  font-size: 16px;

  &--curations{
    @include clickable;
    padding-bottom: 10px;
  }

  &-icon{
    font-size: 18px;
    margin-right: 10px;
  }

  &-dropdownIcon{
    float: right;
    margin-right: 5px;
    transform: rotate(0deg);
    transition: .5s all cubic-bezier(.8, -0.2, 0.2, 1.2);

    &--active{ transform: rotate(180deg); }
  }
}

.curationsContainer{ @include border(bottom); }

.topicList{
  @include transition;
  width: 100%;
  opacity: 1;

  &--curations{
    max-height: 0;
    overflow: hidden;
  }

  &--showCurations{ max-height: 800px; }

  &-loadMore{
    @include button;
    @include elevation(0);
    margin: 10px auto;

    &:hover{ @include elevation(2); }
  }
}

// ===========================================================================

.searchPane{
  @include flex-column-stretch;
  flex: 1;
}

.searchHeader{
  @include flex-row-center;
  @include base-fore-bg;
  @include border(bottom);

  &-input{
    @include base-fore-bg;
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
  }
}

.searchResultList{
  @include base-fore-bg;
  @include transition(.5s);
  flex: 1;
  overflow-y: auto;
  position: relative;
  -webkit-clip-path: circle(150% at 50% 55px);

  &--wrapUp{ -webkit-clip-path: circle(15px at 50% 55px); }

  &-loadMore{
    @include button;
    @include elevation(0);
    margin: 10px auto;

    &:hover{ @include elevation(2); }
  }
}
