:root{
  --primary: #9C27B0;
  --accent: #F01F41;
  --text-on-primary: #FFFFFF;
  --text-on-accent: #FFFFFF;

  --text: #212121;
  --subtitle: #888888;
  --fore: #FFFFFF;
  --back: #EAEAEA;
  --hover: #DEDEDE;
  --border: rgba(0, 0, 0, 0.12);

  --font-face: 'TH Sarabun New';
  --font-size: 26px;
}

a:link, a:visited{
  color: var(--accent);
  border-bottom: 1px var(--accent) solid;
}

@mixin theme-primary-bg{
  background: var(--primary);
  color: var(--text-on-primary);
}

@mixin primary-text {color: var(--primary); }

@mixin theme-accent-bg{
  background: var(--accent);
  color: var(--text-on-accent);
}

@mixin theme-accent-text{ color: var(--accent); }

@mixin base-subtitle{ color: var(--subtitle); }

@mixin base-back-bg {
  background: var(--back);
  color: var(--text);
}

@mixin base-fore-bg{
  background: var(--fore);
  color: var(--text);
}

@mixin base-hover-bg{ background: var(--hover); }

@mixin theme-font{
  font-size: var(--font-size);
  font-family: var(--font-face);
}

@mixin border($direction, $style: solid){
  border-#{$direction}: 1px var(--border) $style;
}
